
<div class="container-big-card">
    <a href="">
    <div class="big-card-img">
      <img
      src="https://phantom-marca.unidadeditorial.es/ef8e6f755106a6c5f0aaf6618b136665/resize/828/f/jpg/assets/multimedia/imagenes/2022/12/12/16708663428145.jpg"
      alt="image placeholder" height="200px">
    </div>
  </a>

    <div class="big-card-title">
       <h1><a href="#">Saiu o capítulo 1098!</a></h1>
    </div>
    <div class="big-card-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, pariatur, necessitatibus enim, voluptatibus dolor hic reprehenderit suscipit autem culpa aliquid alias. Sequi quam esse veniam. Dolorem odit totam iure aut.</p>
    </div>
  </div>

